---
import MainLayout from "../../layouts/MainLayout.astro";
import Masthead from "../../components/Masthead.astro";
import ArticleCard from "../../components/article/ArticleCard.astro";

const allArticles = await Astro.glob('./*.md');
---

<MainLayout title="Articles" description="">
	<Masthead title='Articles'/>
	<div class="container mx-auto max-w-screen-lg p-4 min-h-screen">
		{allArticles.map((article) => <ArticleCard article={article} />)}
	</div>
</MainLayout>