---
import { slugify } from '../../js/util';
import MainLayout from "../../layouts/MainLayout.astro";
import Masthead from "../../components/Masthead.astro";
import ArticleCard from "../../components/article/ArticleCard.astro";

export async function getStaticPaths() {
	const allArticles = await Astro.glob('../articles/*.md');

	const allCategories = [
	...new Set(allArticles.map((post) => post.frontmatter.category).flat()),
	];

	return allCategories.map((category) => {
		const categoryPosts = allArticles.filter(
			(post) => post.frontmatter.category === category
		);

		return {
			params: { category: slugify(category) },
			props: {
				categoryName: category,
				articles: categoryPosts,
			},
		};
  	});
}

const { category } = Astro.params;
const { articles, categoryName } = Astro.props;
---

<MainLayout title={categoryName} description="">
	<Masthead title={categoryName}/>
	<div class="container mx-auto max-w-screen-lg p-4 min-h-screen">
		{articles.map((article) => <ArticleCard article={article} />)}
	</div>
</MainLayout>