<header class="bg-white p-4 pr-12 pl-12 flex items-center justify-between">
	<!-- Logo on the left -->
	<div class="flex items-center">
		<a href="/"><h1 class="text-lg font-bold">Atmosphere</h1></a>
	</div>

	<!-- Menu items on the right -->
	<nav class="flex items-center">
		<a href="/about" class="text-gray-700 hover:text-gray-900 mr-6">About</a>
		<a href="/articles" class="text-gray-700 hover:text-gray-900 mr-6">Articles</a>
	</nav>
</header>